// nav {
//     background: rgba(243, 119, 134, 0.72);
//     -webkit-backdrop-filter: blur(32px);
//     backdrop-filter: blur(32px);
//     font-family: 'Baloo 2', cursive;
// }

// .nav-text {
//     padding-left: 20px;
//     padding-right: 20px ;

//     margin-left: 40px;
//     color: white;
//     text-decoration: none;
    
//     font-size: 1.5rem;
//     font-weight: 500; 
// }

@media (min-width: 300px) {
    .logoNavbar {
      width: 8vw !important;
      height: auto;
      margin: auto;
      margin-right: 5vw;
    }
    .navbar-menu {
      font-size: 3vw !important;
    }
  
    /* DROPDOWN */
    .navbar-dropdown-button {
      font-size: 3vw !important;
    }
  
    .navbar-hamburger-button {
      font-size: 7vw;
    }
  }
  @media (min-width: 800px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      // background-color: #F37786;
    }
  
    .logoNavbar {
      width: 10vw !important;
      margin-right: 3vw;
    }
  
    .navbar-kanan {
    }
  
    .navbar-menu {
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-size: 2vw !important;

    font-family: 'Baloo 2', cursive;
      margin-right: 1vw;
      padding: 0.2vw;
    }
  
    /* DROPDOWN */
    .navbar-dropdown-button {
      background-color: transparent;
      color: white;
      font-size: 2vw !important;

    font-family: 'Baloo 2', cursive;
      border: none;
    }
  }
  @media (min-width: 1200px) {
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .logoNavbar {
      width: 5vw !important;
      margin-right: 2vw;
    }

    .navbar-kiri {
        display: flex;
        margin-left: 0.8vw;
    }
  
    .navbar-kanan {
    }
  
    .navbar-menu {
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-size: 1vw !important;

    font-family: 'Baloo 2', cursive;
      margin-right: 1vw;
      padding: 0px !important;
    }
  
    /* DROPDOWN */
    .navbar-dropdown-button {
      background-color: transparent;
      color: white;
      font-size: 1.5vw !important;

    font-family: 'Baloo 2', cursive;
      border: none;
    }
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1vw;
    // background-color: #F37786;
    /* background: #7083BC; */
    // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
    z-index: 2;
    top: 0;
    position: fixed;
    width: 100%;
  }
  
  .navbar-mobile {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .navbar {
      padding-left: 3vw;
    }
    .navbar-kiri {
        display: flex;
    }
    .navbar-kanan {
      display: none;
    }
    .navbar-mobile {
      display: block;
    }
    .logoNavbar {
      width: 5vw;
      /* margin-left: 2.5vw !important; */
    }
  }
  
  .logoNavbar {
    width: 5vw;
    /* margin-left: 1vw; */
  }
  
  .navbar-kanan {
  }
  
  .navbar-menu {
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1vw;
    font-family: 'Baloo 2', cursive;
    margin-right: 1.5vw;
    padding: 0.2vw;
  }
  
  /* DROPDOWN */
  
  .navbar-dropdown-button {
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    padding: 0.2vw 1.2vw;
    margin-right: 1vw;
    font-family: 'Baloo 2', cursive;
    border: none;
  }
  
  .navbar-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .navbar-dropdown-content {
    /* display: none; */
    position: absolute;
    right: 7%;
    color: white;
    background-color: #F37786;
    min-width: 160px;
    width: 250px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid white;
    z-index: 1;
  }
  
  .navbar-content {
    color: white;
    font-family: 'Baloo 2', cursive;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.5vw;
  }
  
  .navbar-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar-dropdown-content a:hover {
    background-color: #de6d7a;
  }
  
  /* .navbar-dropdown:hover .navbar-dropdown-content {display: block;} */
  
  /* .navbar-dropdown:hover .navbar-dropdown-button {background-color: rgb(84, 106, 174);} */
  
  /* HAMBURGER */
  .navbar-hamburger-button {
    background-color: transparent;
    border: 0;
    font-family: 'Baloo 2', cursive;
    font-size: 5.5vw;
    margin-right: 1.5vw;
    color: white;
  }
  
  .navbar-mobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2vw;
    display: block;
  }
  
  .navbar-mobile a:hover {
    // background-color: #de6d7a;
    background-color: rgba(0,0,0,0.15);
  }
  
  .navbar-hamburger-content {
    position: absolute;
    width: 100%;
    margin-top: 3vw;
    left: 0;
    // background-color: #F37786;
    // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
  }
  
  /* DROPDOWN MOBILE */
  .navbar-mobile-dropdown {
  }
  
  .navbar-mobile-content {
    color: white;
    font-family: 'Baloo 2', cursive;
    padding: 12px !important;
    text-decoration: none;
    font-size: 3vw !important;
  }
  
  .navbar-mobile-dropdown-button {
    color: white;
    font-size: 3vw;
    padding: 12px;
    /* margin-left: 2.5vw; */
    background-color: transparent;
    border: 0;
  }
  
  .navbar-mobile-dropdown-content {
    /* margin-left: 1.8vw; */
  }
  
  .navbar-mobile-dropdown-content > a {
    font-size: 3vw;
    padding: 10px 12px;
    margin-left: 2.5vw;
  }
  
  .current {
    border-radius: 50px;
    border: 1px solid white;
  }