@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

.body{
    background-color: #ECECEC;
}

.ourevent {
    padding-top: 25vh;
    background-color: #ECECEC;
}

.title {
    display: flex;
    justify-content: center;

    h1 {
        margin: auto 0.8vw;
        margin-top: 2vh;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-size: 5vw;
        color: #F37437;
        text-shadow: 2px 2px 5px rgba(243, 119, 134, 0.44);
    }
    
    .cahaya{
        width: 5vw;
        margin: auto 0;
    }
}

.evTitle{
    display: flex;
    width: 16vw;
    height: 4vw;
    background-color: #F37786;
    border-radius: 40px;
    box-shadow: -5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto 0.5vw auto 0;
    

    h2 {
        text-align: center;
        font-size: 2vw;
        color: white;
        margin: auto;
        font-family: 'Baloo Bhaijaan 2', cursive;
    }
}

#abu1 {
    width: 16vw;
    height: 4vw;
    background-color: #E86575;
}

#oren1 { 
    background-color: #F37437;
    width: 25vw;
    height: 4vw;
}

#abu2 {
    width: 17vw;
    height: 4vw;
    background-color: #E86575;
}

#oren2 { 
    background-color: #F37437;
    width: 16vw;
    height: 4vw;
}

#abu3 {
    width: 20vw;
    height: 4vw;
    background-color: #E86575;
}



.theEvents{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
}

.boxEvents{
    width: 83vw;
    height: 17.6vw;
    border-radius: 25px;
    background-color: #EEC8CC;
    margin-bottom: 5vw;
}

#event4{
    height: 19vw;
}

//PRE-EVENT
.preEvent{
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}

.preEvent{

    hr{
        width: 37vw;
        height: 0.2vw;
        background-color: #FFFFFF;
        opacity: 1;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        margin: auto 2.5vw;
    }
    

    h3{
        font-size: 1.6vw;
        font-weight: bold;
        margin: auto 0 auto 0.5vw;
        // margin-top: 10px;
        color: #E86575;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}

.descBox{
    display: flex;
    height: 23vh;
    p{
        padding: 1.5vw;
        margin: auto 3vw;
        color: #E86575;
        font-family: Baloo Bhaijaan 2;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 500;
        line-height: 2.5vw;
    }
}

//SEMINAR WORKSHOP
.semWork{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.semWork{
    hr{
        width: 29vw;
        height: 0.2vw;
        background-color: #FFFFFF;
        opacity: 1;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        margin: auto 2.5vw;
    }

    h3{
        font-size: 1.6vw;
        font-weight: bold;
        margin: auto 0 auto 0.5vw;
        // margin-top: 10px;
        color: #E86575;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}

//COMPETITITON
.competition{
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}

.competition{
    hr{
        width: 29vw;
        height: 0.2vw;
        background-color: #FFFFFF;
        opacity: 1;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        margin: auto 2.5vw;
    }

    h3{
        font-size: 1.6vw;
        font-weight: bold;
        margin: auto 0 auto 0.5vw;
        // margin-top: 10px;
        color: #E86575;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}


//EXHIBITION
.exhibition{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    // margin-bottom: 2vw;
}

.exhibition{
    hr{
        width: 39vw;
        height: 0.2vw;
        background-color: #FFFFFF;
        opacity: 1;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        margin: auto 2.5vw;
    }

    h3{
        font-size: 1.6vw;
        font-weight: bold;
        margin: auto 0 auto 0.5vw;
        // margin-top: 10px;
        color: #E86575;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}

//AWARDING NIGHT
.awarding{
    display: flex;
    justify-content: center;
    margin-top: 2vw;

}

.awarding{
    hr{
        width: 36vw;
        height: 0.2vw;
        background-color: #FFFFFF;
        opacity: 1;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        margin: auto 2.5vw;
    }

    h3{
        font-size: 1.6vw;
        font-weight: bold;
        margin: auto 0 auto 0.5vw;
        // margin-top: 10px;
        color: #E86575;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

}


@media(max-width:1200px){
    .title{
        padding-top: 5vh;
    }
    .boxEvents{
        height: 19vw;
    }
    #event4{
        height: 23vw;
    }
    .descBox{
        p{
            font-size: 1.5vw;
            margin: auto 3vw;
        }
    }
}

@media(max-width:1150px){
    .title{
        padding-top: 3vh;
    }

    .boxEvents{
        height: 21vw;
    }
    #event4{
        height: 24vw;
    }
    .descBox{
        p{
            font-size: 1.75vw;
            margin: auto 3vw;
            // margin-top: vh;
        }
    }
}

@media(max-width:920px){
    .title{
        padding-top: 1vh;
    }

    .boxEvents{
        height: 21vw;
    }
    #event4{
        height: 26vw;
    }
    .descBox{
        p{
            font-size: 1.75vw;
            margin: 1vw 3vw;
        }
    }
}

@media(max-width:880px){
    .title{
        padding-top: 1vh;
    }
}

@media(max-width:800px){
    .title{
        padding-top: 1vh;
    }
}

@media(max-width:700px){
    .title{
        padding-top: 1vh;
    }

    .descBox{
        p{
            margin-top: 1vh;
        }
    }
}

@media(max-width:650px){
    .title{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .boxEvents{
        height: 27vw;
    }
    #event4{
        height: 35.5vw;
    }
    .descBox{
        p{
            font-size: 2.25vw;
            margin: 1.5vw 3vw;
            font-weight: 500;
            line-height: 3vw;
        }
    }
}

@media(max-width:500px){
    .title{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .boxEvents{
        height: 27.5vw;
    }
    #event4{
        height: 35.5vw;
    }
    .descBox{
        p{
            font-size: 2.25vw;
            margin: 1.5vw 3vw;
            font-weight: 500;
            line-height: 3vw;
        }
    }
}

@media(max-width:420px){
    .ourevent {
    padding-top: 20vh;
    }
    .title{
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .boxEvents{
        height: 27.5vw;
    }
    #event4{
        height: 35.5vw;
    }
    .descBox{
        p{
            font-size: 2.25vw;
            margin: 1.5vw 3vw;
            font-weight: 500;
            line-height: 3vw;
        }
    }
}

@media(max-width:376px){
    .ourevent {
        padding-top: 15vh;
        background-color: #ECECEC;
    }

    .boxEvents{
        height: 33vw;
    }

    #event4{
        height: 41vw;
    }

    .descBox{
        p{
            font-size: 2.5vw;
            margin: 2vw 3vw;
            font-weight: 500;
            line-height: 3.5vw;
        }
    }
}